.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 4rem 5rem;
    align-items: center;
    justify-content: space-between;
}

.section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    font-size: 67.7965px;
    line-height: 110%;
}


.title2 {
    background: linear-gradient(90deg, #FF75C3 0%, #FFA647 20%, #FFE83F 40%, #9FFF5B 60%, #70E2FF 80%, #CD93FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.subtitle {
    font-weight: 400;
    font-size: 25.7461px;
    line-height: 178.5%;
}

.heroimg {
    border-radius: 20px;
}

 .sellBtn {
     background: #EFCB88;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     font-size: 14px;
     line-height: 20px;
     text-transform: uppercase;
     border: 5px solid #80C3C1;
     border-radius: 100px;
     padding: .6rem 1rem;
 }