.container {
    padding: 3rem 5rem;
    font-family: 'Poppins', sans-serif;

    h1 {
        padding-bottom: 2rem;
        border-bottom: 2px solid #945bdd;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;

    @media screen and (max-width: 800px) {}

    @media screen and (max-width: 500px) {}

    input {
        background-color: #70E2FF;
        color: #000000;
        padding: .5rem;
        border: none;
        caret-color: #945BDD;
        width: 70%;

    }

    input::placeholder {
        color: grey;
    }

    input[type=file] {
        display: none;
    }

    button {
        background: #945BDD;
        cursor: pointer;
        padding: .5rem 1rem;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
    }

    .flexDiv {
        display: flex;
        gap: 3rem;
    }

    .fileInput {
        border: 2px solid #70E2FF;
        width: 19%;
        padding: 1rem;
        cursor: pointer;

        label {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }


}