.main {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.heading {
  display: flex;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;

  // stack items vertically on small screens
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 63.5px;
  color: #945bdd;
}
.subTitle {
  font-size: 17.86px;
  font-weight: 400;
  line-height: 27.78px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  color: #d5b9fa;
}

.cardTexts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 30%;
  text-align: center;
}
.cardSvg {
  margin-top: 20%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardItems {
  display: flex;
  padding: 1rem;
}
.card {
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  background-color: #d5b9fa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.6rem;
  height: 26.25rem;
  width: 16rem;

  // increaser the size of the cards on small screens
  @media (max-width: 600px) {
    height: 30rem;
    width: 20rem;
  }
}

.cardDescription {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: #212224;
}

.cardTitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
  color: #212224;
}