.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;

    @media screen and (max-width: 800px) {
        padding: 1rem 3rem;
    }

    @media screen and (max-width: 400px) {
        padding: 1rem;
    }

    .logo {
        font-family: 'Poor Story', cursive;
        font-size: 50px;

        @media screen and (max-width: 800px) {
            font-size: 35px;
        }
    }

    .sellBtn {
        background: #EFCB88;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        border: 5px solid #80C3C1;
        border-radius: 100px;
        padding: .3rem 1rem;

        @media screen and (max-width: 800px) {
            font-size: 12px;
        }
    }

    .menus {
        display: flex;
        align-items: center;
        gap: 2rem;

        @media screen and (max-width: 800px) {
            gap: 1rem;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }

        &>* {
            cursor: pointer;
        }
    }

    .menuWrapper {
        position: relative;
        height: 30px;
        width: 30px;

        @media screen and (max-width: 800px) {
            height: 25px;
            width: 25px;
        }
    }

}