.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  color: #70e2ff;

  @media screen and (max-width: 800px) {
    padding: 1rem 3rem;
  }

  @media screen and (max-width: 400px) {
    padding: 1rem;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

    @media screen and (max-width: 800px) {
      font-size: 35px;
    }

    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }

  .sellBtn {
    background: #945bdd;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border: 5px solid #70e2ff;
    border-radius: 100px;
    padding: 0.3rem 1rem;

    @media screen and (max-width: 800px) {
      font-size: 12px;
    }
  }

  .menus {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 800px) {
      gap: 1rem;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }

    &>* {
      cursor: pointer;
    }
  }

  .hamburger {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      z-index: 1000;
    }

  }

  .hamburgerContainer {
    position: relative;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    position: relative;

    .bar {
      padding: 0;
      width: 30px;
      height: 4px;
      background-color: #70e2ff;;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute;
    }

    .bar1 {
      top: 0;
      transform-origin: 5%;
    }

    .bar2 {
      top: 13.5px;
    }

    .bar3 {
      top: 13.5px;
      right: 0;
    }

    .bar4 {
      transform-origin: 5%;
      bottom: 0;
    }
  }

  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: -1px;
    padding: 0;
    border: 0;
    opacity: 0;
  }

  .checkbox:checked+label>.hamburger>.bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
  }

  .checkbox:checked+label>.hamburger>.bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox:checked+label>.hamburger>.bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox:checked+label>.hamburger>.bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
  }

}