.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    
    .logo {
        font-family: 'Poor Story', cursive;
        font-size: 50px;
    }

    .sellBtn {
        background: #EFCB88;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        border: 5px solid #80C3C1;
        border-radius: 100px;
        padding: .3rem 1rem;
    }

    .menus {
        display: flex;
        align-items: center;
        gap: 2rem;

        &>* {
            cursor: pointer;
        }
    }

}