.container {
    padding: 3rem 5rem;
    font-family: 'Poppins', sans-serif;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btns {
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
        align-items: center;
        padding-bottom: 3rem;
        border-bottom: 2px solid #945bdd;
    }

    button {
        background: #945bdd;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        padding: 0.6rem 1rem;
        cursor: pointer;

    }

    .clickedBtn {
        border: 3px solid #70e2ff;
    }

    .headerBtn {
        border-radius: 10px;
    }
}