.container {
    padding: 3rem 5rem;
    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: 1000px) {
        padding: 2rem 3rem;
    }


    @media screen and (max-width: 500px) {
        padding: 2rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            @media screen and (max-width: 900px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 2rem;
            }
        }
    }

    .btns {
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
        align-items: center;
        padding-bottom: 3rem;
        border-bottom: 2px solid #945bdd;

        @media screen and (max-width: 1000px) {
            padding-bottom: 2rem;
            margin-top: .5rem;
        }

        @media screen and (max-width: 500px) {
            flex-wrap: wrap;
            margin-top: 1.5rem;
        }
    }

    button {
        background: #945bdd;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        padding: 0.6rem 1rem;
        cursor: pointer;

        @media screen and (max-width: 900px) {
            font-size: 12px;
        }
    }

    .clickedBtn {
        border: 3px solid #70e2ff;
    }

    .headerBtn {
        border-radius: 10px;
    }
}